#projects {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 20px;
}

.work-title {
    display: flex;
    justify-content: center;
    margin-top: 0;
}

.project-card {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 300px;
    margin: 10px 0;
}

.project-card img {
    margin-top: 10px;
    border: 1px solid #445643;
    cursor: pointer;
}

.modal-container {
    position: fixed;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    padding: 0 40px;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal {
    position: fixed;
    padding: 24px;
    background-color: #ffffff;
    border: 1px solid grey;
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    overflow: auto;
    max-width: 500px;
}

.modal-close {
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
}

.close-icon {
    width: 20px;
    height: 20px;
    fill: transparent;
    stroke: black;
    stroke-linecap: round;
    stroke-width: 3;
}

.modal-title {
    text-align: center;
    font-size: 1.5em;
}

.modal .buttons {
    display: flex;
    justify-content: center;
}

.modal .buttons a {
    background-color: #09a7aa;
	border-radius: 5px;
	padding: 5px 10px;
    color: #fff;
    font-size: 1em;
    width: 100px;
    margin: 0 8px;
    text-align: center;
}

.modal .button a:hover {
    background-color: #078385;
}

/**************** Tablet Styles **************/
@media only screen and (min-width: 768px) {
    #projects {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }
}

/*********************  Desktop Styling ***************************/

@media only screen and (min-width: 1200px) {
    .project-card {
        width: 600px;
        margin: 15px 0;
    }
}
